.sliderContainer{
     margin-top: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 80vw;
}

.sliderItem{
margin: 0 30px;
}

.slideSection{
     display: flex;
     align-items: center;
     justify-content: center;
}